/build/
/config/
/dist/
/src/
/src/views/
/src/pages/index.vue
/src/components/
/src/store/
/src/modules/
/src/assets/js/filter/
/src/assets/js/panzoom-3.2.3/
/src/route/routes.js
/static/
/webapp/
node_modules
/mock/
api