@import "./layout.scss";

// flex 布局
@mixin list($direction:column) {
  @include flex($direction);
}

@mixin operatePanel($bgcolor:#fff, $boxShadow: 0px 7px 15px #aaa, $height: 60px, $padding:5px,) {
  min-height: $height;
  background: $bgcolor;
  // box-shadow: $boxShadow;
  border-bottom: 1px solid #f0f0f0;
}

// panel 组件样式
@mixin panel($bgcolor:#fff,$padding:0,$margin:20px,$height:60px,$color:#000,$fontSize:16px) {
  z-index: 2000;
  background: $bgcolor;
  padding: $padding;
  height: $height;
  bottom: 0;
  width: 100%;
  position: absolute;
  border-top: 1px solid #ccc;
  @include list(row);
  .el-pagination{
    margin-left: auto;
    padding-right: 30px;
  }
}

// 资源目录 样式
@mixin resourceDirectory () {
  flex-wrap: wrap;
  width: 100%;
  .main{
    flex-grow:1;
    flex: 1;
    overflow: hidden;
    height: 100%;
    position: relative;
  }
  .infoCard{
    width: 0px;
    @include list(column);
    height: 0;
    opacity: 0;
  }
}
